.hero {
    margin-top: 97px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.hero__heading {
    font-family: "Roboto";
    font-size: 80px;
    font-weight: 700;
    width: 560px;
    color: #12100C;
}

.hero__text {
    max-width: 460px;
    width: 100%;
    font-family: "Roboto";
    font-size: 23px;
    font-weight: 400;
    color: #12100CB2;
    margin-top: 31px;
    margin-bottom: 48px;
}

.hero__item {
    display: flex;
    gap: 24px;
    align-items: start;
}

.hero__button {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
    color: #12100C;
    padding: 12px 46px;
    background: #FFAE33;
    border-radius: 16px;
    border: none;
}

.hero__shares {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 29px;
    margin-top: 16px;
}

.hero__p {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    color: #12100CB2;
    width: 190px;
}

@media screen and (max-width: 1150px) {
    .hero__img {
        width: 600px;
        height: 600px;
    }

    .hero__heading {
        font-size: 60px;
    }

    .hero__text {
        font-size: 18px;
        margin: 20px 0;
    }
}

@media screen and (max-width: 1000px) {
    .hero .container {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .hero__text {
        margin-left: 50px;
    }

    .hero__item {
        flex-direction: column;
        margin-left: 200px;
    }
}

@media screen and (max-width: 630px) {
    .hero__img {
        width: 450px;
        object-fit: contain;
    }
}

@media screen and (max-width: 530px) {
    .hero__heading {
        font-size: 45px;
    }

    .hero__text {
        font-size: 15px;
        width: 350px;
        margin-left: 100px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 495px) {
    .hero .container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .hero__img {
        margin-top: -90px;
    }
}

@media screen and (max-width: 350px) {
    .hero {
        margin-left: 100px;
        margin: 60px 0 60px 0;
        padding: 0;
        margin-left: 60px;
        margin-right: 0;
    }

    .hero__img {
        margin-top: -100px;
        max-width: 500px;
        
    }
}