.header {
    padding: 10px 0;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hamburger {
        height: 30px;
        width: 30px;
        position: relative;
    }

    .hamburger .checkbox {
        position: absolute;
        opacity: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }

    .line {
        transition: 0.5s;
        stroke-width: 6px;
        stroke: black;
    }

    .lineTop {
        stroke-dasharray: 40 40;
        stroke-dashoffset: 25;
    }

    .lineBottom {
        stroke-dasharray: 40 40;
        stroke-dashoffset: 60;
    }

    .lineMid {
        stroke-dasharray: 40 40;
    }

    .hamburger .checkbox:checked+svg .line {
        stroke: crimson;
    }

    .hamburger .checkbox:checked+svg .lineTop {
        stroke-dashoffset: 0;
        transform-origin: left;
        transform: rotateZ(45deg) translate(-7px, -5px);
    }

    .hamburger .checkbox:checked+svg .lineMid {
        stroke-dashoffset: 40;
    }

    .hamburger .checkbox:checked+svg .lineBottom {
        stroke-dashoffset: 0;
        transform-origin: left;
        transform: rotateZ(-45deg) translate(-5px, 5px);
    }


    .header__buttons {
        padding: 6px 22px;
        color: #fff;
        background: #000;
        cursor: pointer;
        transition: ease-out 0.7s;
        border: 2px solid #12100C;
        border-radius: 12px;
        box-shadow: inset 0 0 0 0 #fff;


        &:hover {
            color: #000;
            box-shadow: inset 0 -100px 0 0 #fff;
        }

        &:active {
            transform: scale(0.9);
        }
    }
}

.menu__buttons {
    display: none;
}

.header__btn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav__list {
    display: flex;
    gap: 48px;
}

.nav__link {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    color: #12100CB2;
    transition: all 0.8s ease;
    opacity: 0.8;

    &:hover {
        color: #000;
        opacity: 1;
    }

    span {
        color: orange;
    }
}


@media screen and (max-width: 1000px) {
    .nav__list {
        gap: 25px;
    }
}

@media screen and (max-width: 820px) {
    .menu__buttons {
        display: block;
    }

    .nav__list {
        display: none;
    }

    .nav__menu {
        display: flex;
        position: absolute;
        right: 0;
        top: 65px;
        padding: 50px;
        height: 200px;
        flex-direction: column;
        background-color: #fff;
        z-index: 1;
        border-radius: 22px 0 0 22px;
        transition: all 0.5s ease;
        animation: menu;


        overflow: scroll;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    @keyframes menu {
        from {
            transform: translateY(20%);
            opacity: 0.6;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}